<h1>Nuevo Usuario</h1>
<p>Proporciona la siguiente informacion para darte de alta como usuario</p>

<%if flash[:mensaje]%>
  <p class="mensaje"><%=flash[:mensaje]%></p>
<% end %>

<div id="container" >
  <%= form_for :users, url: users_path do |f| %>
    <%= f.label :name %> &nbsp  &nbsp  &nbsp
    <%= f.text_field :name %><br>
    <p></p>
    <%= f.label :email %>  &nbsp  &nbsp  &nbsp
        <%= f.email_field :email %><br>
    <p></p>
    <%= f.label :password %>
     <%= f.password_field :password %><br>
     <p></p>
    <p></p>
    <%= f.submit "Crear cuenta nueva" %>

</div>

<% end %>
